*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 15px;
}

a:visited,
a {
  color: #171d24;
  text-decoration: none;
}

body {
  background-image: url(../assets/images/background-mobile.png);
  background-size: cover;
  background-position: 0% 85%;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #171d24;
}

body:before {
  content: " ";  
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-image:url(../assets/images/overlay.png);
  z-index: -1;
}

.content-container {
  margin: 25px 20px 0 20px;
}

.title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 55px;
  line-height: 1;
  text-transform: uppercase;
  max-width: 300px;
}

.buttons-container {
  margin: 20px 0 0 0;
  width: 100%;  
}

.button {
  display: inline-block;
  width: 75%;
  margin: 0 12.5% 0 12.5%;
  font-size: 1.3rem;
  text-align: center;
  padding: 15px 15px 15px 15px;
  letter-spacing: 0.5px;
  background: rgba(255,255,255,0.71);
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.button i {
  margin: 0 10px 0 0;
}

.button:hover {
  background: rgba(255,255,255,1)
}

.or {
  margin: 20px 0 20px 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 300;
}

.preview {
  display: inline-block;
  width: 75%;
  margin: 0 12.5% 0 12.5%;
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
}


.preview a:visited,
.preview a {
  color: #fff;
}

.preview a {
  position: relative;
}
.preview a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.preview a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.author-container {
  text-align: center;
  margin: 100px auto 0;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}

.author-links > .preview {
  font-size: 1rem;
}


footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: left;
  color: #fff;
  font-weight: 100;
  font-size: .75rem;
  letter-spacing: 0.5px
}

@media (min-width: 768px) {
  
  body {
    background-image: url(../assets/images/background-image.png);
    background-position: 0% 65%;
  }
 
  .content-container {
    margin: 50px 0 0 125px;
  }
  
  .title {
    font-size: 120px;
    max-width: 567px;
  }
  
  .buttons-container {
    margin: 40px 0 0 0;
  }
  
  .spacer {
    margin: 0 30px 0 0;
  }
  
  .author-container {
    text-align: right;
    margin: 200px 150px 0 0;
  }
  
  footer {
    text-align: left;
    padding-left: 25px;
  }  
}

